<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ServletTest</display-name>
  
  
  	<servlet>
  		<servlet-name>T01_ServletLifeCycle</servlet-name>
  		<servlet-class>kr.or.ddit.basic.T01_ServletLifeCycle</servlet-class>
  		<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T01_ServletLifeCycle</servlet-name>
  	  <url-pattern>/T01_ServletLifeCycle</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T02_ServletTest</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T02_ServletTest</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T02_ServletTest</servlet-name>
  	  <url-pattern>/T02_ServletTest</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T03_servletParameterTest</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T03_servletParameterTest</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T03_servletParameterTest</servlet-name>
  	  <url-pattern>/T03_servletParameterTest</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
  	  <servlet-name>T04_ErrorHandler</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T04_ErrorHandler</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T04_ErrorHandler</servlet-name>
  	  <url-pattern>/T04_ErrorHandler</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T05_ServletContext</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T05_ServletContext</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T05_ServletContext</servlet-name>
  	  <url-pattern>/T05_ServletContext</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T06_ServletCookieTest</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T06_ServletCookieTest</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T06_ServletCookieTest</servlet-name>
  	  <url-pattern>/T06_ServletCookieTest</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T07_ServletSessionTest</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T07_ServletSessionTest</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T07_ServletSessionTest</servlet-name>
  	  <url-pattern>/T07_ServletSessionTest</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T10_ServletContextListenerTest</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T10_ServletContextListenerTest</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T10_ServletContextListenerTest</servlet-name>
  	  <url-pattern>/T10_ServletContextListenerTest</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T11_ServletRequestListenerTest</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T11_ServletRequestListenerTest</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T11_ServletRequestListenerTest</servlet-name>
  	  <url-pattern>/T11_ServletRequestListenerTest</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T12_HttpSessionListenerTest</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T12_HttpSessionListenerTest</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T12_HttpSessionListenerTest</servlet-name>
  	  <url-pattern>/T12_HttpSessionListenerTest</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  	  <servlet-name>T13_ImageServlet</servlet-name>
  	  <servlet-class>kr.or.ddit.basic.T13_ImageServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  	  <servlet-name>T13_ImageServlet</servlet-name>
  	  <url-pattern>/T13_ImageServlet</url-pattern>
  	</servlet-mapping>
  	  	
  	<filter>
  	  <filter-name>T08_ServletFilter</filter-name>
  	  <filter-class>kr.or.ddit.basic.T08_ServletFilter</filter-class>
  	  <init-param>
  	    <param-name>init-param</param-name>
  	    <param-value>이소망</param-value>
  	  </init-param>
  	</filter>
  	<filter-mapping>
  	  <filter-name>T08_ServletFilter</filter-name>
  	  <url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  	<filter>
  	  <filter-name>T09_ServletFilter2</filter-name>
  	  <filter-class>kr.or.ddit.basic.T09_ServletFilter2</filter-class>
<!--   	  <init-param> -->
<!--   	    <param-name>init-param</param-name> -->
<!--   	    <param-value>이소망</param-value> -->
<!--   	  </init-param> -->
  	</filter>
  	<filter-mapping>
  	  <filter-name>T09_ServletFilter2</filter-name>
  	  <url-pattern>/*</url-pattern>
  	</filter-mapping>
  
    <error-page>
      <error-code>500</error-code>
      <location>/T04_ErrorHandler</location>
    </error-page>
  
    <error-page>
      <exception-type>javax.servlet.ServletException</exception-type>
      <location>/T04_ErrorHandler</location>
    </error-page>
  
    <session-config>
      <session-timeout>1</session-timeout>
    </session-config>
  
    <listener>
      <display-name>MyServletContextListener</display-name>
      <listener-class>kr.or.ddit.basic.MyServletContextListener</listener-class>
    </listener>
    
    <listener>
      <display-name>MyServletRequestListener</display-name>
      <listener-class>kr.or.ddit.basic.MyServletRequestListener</listener-class>
    </listener>
    
    <listener>
      <display-name>MyHttpSessionListener</display-name>
      <listener-class>kr.or.ddit.basic.MyHttpSessionListener</listener-class>
    </listener>
    
    
    
    
    
</web-app>